${\Huge \text{Presentation and Visualization: Dashboard Notebook}}$

$\text{Authors: Iris Vukovic, Martin Corovcakand Rubén Jiménez Lumbreras}$

The objective of this Python notebook is to preprocess the Beijing Air Quality Dataset and 
get it ready tobe usedr io Tablea.u

In [3]:
# All necessary imports
import pandas as pd
import numpy as np

# Start by importing the dataset and filling the missing values with consecutive ones.
data1 = pd.read_csv("PRSA_Data_Aotizhongxin_20130301-20170228.csv")
data1 = data1.ffill()
data1 = data1.bfill()
data2 = pd.read_csv("PRSA_Data_Changping_20130301-20170228.csv")
data2 = data2.ffill()
data2 = data2.bfill()
data3 = pd.read_csv("PRSA_Data_Dingling_20130301-20170228.csv")
data3 = data3.ffill()
data3 = data3.bfill()
data4 = pd.read_csv("PRSA_Data_Dongsi_20130301-20170228.csv")
data4 = data4.ffill()
data4 = data4.bfill()
data5 = pd.read_csv("PRSA_Data_Guanyuan_20130301-20170228.csv")
data5 = data5.ffill()
data5 = data5.bfill()
data6 = pd.read_csv("PRSA_Data_Gucheng_20130301-20170228.csv")
data6 = data6.ffill()
data6 = data6.bfill()
data7 = pd.read_csv("PRSA_Data_Huairou_20130301-20170228.csv")
data7 = data7.ffill()
data7 = data7.bfill()
data8 = pd.read_csv("PRSA_Data_Nongzhanguan_20130301-20170228.csv")
data8 = data8.ffill()
data8 = data8.bfill()
data9 = pd.read_csv("PRSA_Data_Shunyi_20130301-20170228.csv")
data9 = data9.ffill()
data9 = data9.bfill()
data10 = pd.read_csv("PRSA_Data_Tiantan_20130301-20170228.csv")
data10 = data10.ffill()
data10 = data10.bfill()
data11 = pd.read_csv("PRSA_Data_Wanliu_20130301-20170228.csv")
data11 = data11.ffill()
data11 = data11.bfill()
data12 = pd.read_csv("PRSA_Data_Wanshouxigong_20130301-20170228.csv")
data12 = data12.ffill()
data12 = data12.bfill()

In [4]:
# Merge all the data together and drop the unnecessary column "No"
data = pd.concat([data1, data2, data3, data4, data5, data6, data7, data8, data9, data10, data11, data12])
data = data.drop(["No"], axis=1)

In [5]:
data.head()

,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
0,2013,3,1,0,4.0,4.0,4.0,7.0,300.0,77.0,-0.7,1023.0,-18.8,0.0,NNW,4.4,Aotizhongxin
1,2013,3,1,1,8.0,8.0,4.0,7.0,300.0,77.0,-1.1,1023.2,-18.2,0.0,N,4.7,Aotizhongxin
2,2013,3,1,2,7.0,7.0,5.0,10.0,300.0,73.0,-1.1,1023.5,-18.2,0.0,NNW,5.6,Aotizhongxin
3,2013,3,1,3,6.0,6.0,11.0,11.0,300.0,72.0,-1.4,1024.5,-19.4,0.0,NW,3.1,Aotizhongxin
4,2013,3,1,4,3.0,3.0,12.0,12.0,300.0,72.0,-2.0,1025.2,-19.5,0.0,N,2.0,Aotizhongxin

In [6]:
# Use information from Google Maps and from the original article linked to the dataset to deduce the coordinates of the stations
def latitude_station(x):
    if x == "Aotizhongxin":
        return 40.0013
    if x == "Changping":
        return 40.22477
    if x == "Dingling":
        return 40.3038
    if x == "Dongsi":
        return 39.93069
    if x == "Guanyuan":
        return 39.93345
    if x == "Gucheng":
        return 39.93447
    if x == "Huairou":
        return 40.34949
    if x == "Nongzhanguan":
        return 39.94161
    if x == "Shunyi":
        return 40.13957
    if x == "Tiantan":
        return 39.87545
    if x == "Wanliu":
        return 39.97628
    if x == "Wanshouxigong":
        return 39.87899


def longitude_station(x):
    if x == "Aotizhongxin":
        return 116.38452 
    if x == "Changping":
        return 116.23272
    if x == "Dingling":
        return 116.22932
    if x == "Dongsi":
        return 116.42364 
    if x == "Guanyuan":
        return 116.36949
    if x == "Gucheng":
        return 116.18585
    if x == "Huairou":
        return 116.64917
    if x == "Nongzhanguan":
        return 116.46937
    if x == "Shunyi":
        return 116.64527
    if x == "Tiantan":
        return 116.41221
    if x == "Wanliu":
        return 116.2896
    if x == "Wanshouxigong":
        return 116.37544

In [7]:
# Add the coordinates to the dataset as new columns
list1 = [longitude_station(stat) for stat in data["station"]]
list2 = [latitude_station(stat) for stat in data["station"]]

In [8]:
data.insert(17,"longitude",list1, True)
data.insert(18,"latitude",list2, True)

In [9]:
data["longitude"].nunique()

12

In [10]:
data["latitude"].nunique()

12

In [11]:
data.head()

,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station,longitude,latitude
0,2013,3,1,0,4.0,4.0,4.0,7.0,300.0,77.0,-0.7,1023.0,-18.8,0.0,NNW,4.4,Aotizhongxin,116.38452,40.0013
1,2013,3,1,1,8.0,8.0,4.0,7.0,300.0,77.0,-1.1,1023.2,-18.2,0.0,N,4.7,Aotizhongxin,116.38452,40.0013
2,2013,3,1,2,7.0,7.0,5.0,10.0,300.0,73.0,-1.1,1023.5,-18.2,0.0,NNW,5.6,Aotizhongxin,116.38452,40.0013
3,2013,3,1,3,6.0,6.0,11.0,11.0,300.0,72.0,-1.4,1024.5,-19.4,0.0,NW,3.1,Aotizhongxin,116.38452,40.0013
4,2013,3,1,4,3.0,3.0,12.0,12.0,300.0,72.0,-2.0,1025.2,-19.5,0.0,N,2.0,Aotizhongxin,116.38452,40.0013

In [13]:
# Use the tables provided by the US AQI index to code functions that compute the AQI
# Recall tha AQI stands for Air Quality Index

list_ab = [50, 100, 150, 200, 300, 500]
list_un = [0, 51, 101, 151, 201, 301]

def pm25_aqi(pm25):
    list1 = [9., 35.4, 55.4, 125.4, 225.4, 325.4]
    list2 = [0., 9.1, 35.5, 55.5, 125.5, 225.5]
    for i in range(0, 6):
        if pm25 <= list1[i]:
            return np.round( ((list_ab[i] - list_un[i])/(list1[i] - list2[i]))*(pm25 - list2[i]) + list_un[i])
            
    return 500


def pm10_aqi(pm10):
    list1 = [54, 154, 254, 354, 424, 604]
    list2 = [0, 55, 155, 255, 355, 425]
    for i in range(0, 6):
        if pm10 <= list1[i]:
            return np.round( ((list_ab[i] - list_un[i])/(list1[i] - list2[i]))*(pm10 - list2[i]) + list_un[i])
            
    return 500


def no2_aqi(no2):
    list1 = [53, 100, 360, 649, 1249, 2049]
    list2 = [0, 54, 101, 361, 650, 1250]
    for i in range(0, 6):
        if no2 <= list1[i]:
            return np.round( ((list_ab[i] - list_un[i])/(list1[i] - list2[i]))*(no2 - list2[i]) + list_un[i])
            
    return 500


def so2_aqi(so2):
    list1 = [35, 75, 185, 304]
    list2 = [0., 36, 76, 186]
    for i in range(0, 6):
        if so2 <= list1[i]:
            return np.round( ((list_ab[i] - list_un[i])/(list1[i] - list2[i]))*(so2 - list2[i]) + list_un[i])
            
    return 200

def so2_24_aqi(so2_24):
    list1 = [604, 1004]
    list2 = [305, 605]
    if so2_24 >= 305:
        for i in range(0, 2):
            if so2 <= list1[i]:
                return np.round( ((list_ab[i+4] - list_un[i+4])/(list1[i] - list2[i]))*(so2_24 - list2[i]) + list_un[i+4])
        return 500
    else:
        return 0
        


def oz8_aqi(oz8):
    list1 = [0.054, 0.070, 0.085, 0.105, 0.200]
    list2 = [0., 0.055, 0.071, 0.086, 0.106]
    for i in range(0, 5):
        if oz8 <= list1[i]:
            return np.round( ((list_ab[i] - list_un[i])/(list1[i] - list2[i]))*(oz8 - list2[i]) + list_un[i])
            
    return 300


def co_aqi(co):
    list1 = [4.4, 9.4, 12.4, 15.4, 30.4, 50.4]
    list2 = [0., 4.5, 9.5, 12.5, 15.5, 30.5]
    for i in range(0, 6):
        if co <= list1[i]:
            return np.round( ((list_ab[i] - list_un[i])/(list1[i] - list2[i]))*(co - list2[i]) + list_un[i])
            
    return 500


def oz1_aqi(oz1):
    list1 = [0.164, 0.204, 0.404, 0.604]
    list2 = [0.125, 0.165, 0.205, 0.405]
    if oz1 >= 0.125: 
        for i in range(0, 4):
            if oz1 <= list1[i]:
                return np.round( ((list_ab[i+2] - list_un[i+2])/(list1[i] - list2[i]))*(oz1 - list2[i]) + list_un[i+2])
        return 500
    else:
        return 0

def pollution(pm25,pm10,co,no2,so2,so2_24,oz8,oz1):
    aqi = max(pm25_aqi(pm25), pm10_aqi(pm10))
    aqi = max(aqi, co_aqi(co))
    aqi = max(aqi, no2_aqi(no2))
    aqi = max(aqi, so2_aqi(so2))
    aqi = max(aqi, so2_24_aqi(so2_24))
    aqi = max(aqi, oz8_aqi(oz8))
    aqi = max(aqi, oz1_aqi(oz1))

    return aqi



score = np.zeros((17532))

# Now, for each of the considered days, compute the corresponding AQI at 12h
for i in range(0,17532):
    day = data[["PM2.5", "PM10", "SO2", "NO2", "CO", "O3"]][24*i:24*(i+1)]
    day1 = day[12:13]
    day8 = day[8:16]
    aux = day.mean().to_list()
    aux8 = day8.mean().to_list()
    aux1 = day1.mean().to_list()


    pm25 = np.trunc(aux[0]*10)/10
    pm10 = np.trunc(aux[1])
    no2 = np.trunc(0.53*aux1[3])
    so2 = np.trunc(0.38*aux1[2])
    so2_24 = np.trunc(0.38*aux[2])
    oz8 = np.trunc(0.51*aux8[5])/1000
    co = np.trunc(0.87*aux8[4]*0.01)/10
    oz1 = np.trunc(0.51*aux1[5])/1000
    score[i] = pollution(pm25,pm10,co,no2,so2,so2_24,oz8,oz1)
    if i%100 == 0:
        print(i)

0
100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900
2000
2100
2200
2300
2400
2500
2600
2700
2800
2900
3000
3100
3200
3300
3400
3500
3600
3700
3800
3900
4000
4100
4200
4300
4400
4500
4600
4700
4800
4900
5000
5100
5200
5300
5400
5500
5600
5700
5800
5900
6000
6100
6200
6300
6400
6500
6600
6700
6800
6900
7000
7100
7200
7300
7400
7500
7600
7700
7800
7900
8000
8100
8200
8300
8400
8500
8600
8700
8800
8900
9000
9100
9200
9300
9400
9500
9600
9700
9800
9900
10000
10100
10200
10300
10400
10500
10600
10700
10800
10900
11000
11100
11200
11300
11400
11500
11600
11700
11800
11900
12000
12100
12200
12300
12400
12500
12600
12700
12800
12900
13000
13100
13200
13300
13400
13500
13600
13700
13800
13900
14000
14100
14200
14300
14400
14500
14600
14700
14800
14900
15000
15100
15200
15300
15400
15500
15600
15700
15800
15900
16000
16100
16200
16300
16400
16500
16600
16700
16800
16900
17000
17100
17200
17300
17400
17500

In [14]:
# Add these values to the dataset
print(len(score))
score = np.repeat(score, 24)
print(len(score))
score = score.astype(np.int64)
data.insert(4,"aqi_index_at_12h", score, True)

17532
420768

In [67]:
# To improve the management of the data in Tableau, create data2 taking only one sample per day
data2 = data.iloc[::24, :]

In [69]:
data2 = data2.drop(["hour"], axis=1)

In [71]:
data.head()

,year,month,day,hour,aqi_index_at_12h,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station,longitude,latitude
0,2013,3,1,0,39,4.0,4.0,4.0,7.0,300.0,77.0,-0.7,1023.0,-18.8,0.0,NNW,4.4,Aotizhongxin,116.38452,40.0013
1,2013,3,1,1,39,8.0,8.0,4.0,7.0,300.0,77.0,-1.1,1023.2,-18.2,0.0,N,4.7,Aotizhongxin,116.38452,40.0013
2,2013,3,1,2,39,7.0,7.0,5.0,10.0,300.0,73.0,-1.1,1023.5,-18.2,0.0,NNW,5.6,Aotizhongxin,116.38452,40.0013
3,2013,3,1,3,39,6.0,6.0,11.0,11.0,300.0,72.0,-1.4,1024.5,-19.4,0.0,NW,3.1,Aotizhongxin,116.38452,40.0013
4,2013,3,1,4,39,3.0,3.0,12.0,12.0,300.0,72.0,-2.0,1025.2,-19.5,0.0,N,2.0,Aotizhongxin,116.38452,40.0013

In [73]:
data2.head()

,year,month,day,aqi_index_at_12h,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station,longitude,latitude
0,2013,3,1,39,4.0,4.0,4.0,7.0,300.0,77.0,-0.7,1023.0,-18.8,0.0,NNW,4.4,Aotizhongxin,116.38452,40.0013
24,2013,3,2,91,22.0,24.0,24.0,44.0,500.0,44.0,-0.4,1031.0,-17.6,0.0,ENE,1.4,Aotizhongxin,116.38452,40.0013
48,2013,3,3,166,112.0,130.0,73.0,100.0,1899.0,2.0,-1.4,1020.4,-13.0,0.0,NNE,1.2,Aotizhongxin,116.38452,40.0013
72,2013,3,4,76,42.0,83.0,51.0,86.0,1300.0,4.0,7.7,1015.7,-11.1,0.0,N,2.6,Aotizhongxin,116.38452,40.0013
96,2013,3,5,224,71.0,108.0,66.0,78.0,1100.0,84.0,4.7,1015.2,-9.1,0.0,SW,1.6,Aotizhongxin,116.38452,40.0013

In [75]:
data2.describe()

,year,month,day,aqi_index_at_12h,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM,longitude,latitude
count,17532.00000,17532.000000,17532.000000,17532.000000,17532.000000,17532.000000,17532.000000,17532.000000,17532.000000,17532.000000,17532.000000,17532.000000,17532.000000,17532.000000,17532.000000,17532.000000,17532.000000
mean,2014.66256,6.522930,15.729637,155.493326,87.962320,115.419673,15.152844,57.785898,1380.444673,42.343529,11.283890,1011.171011,3.138832,0.068138,1.357689,116.388883,40.040822
std,1.17723,3.448802,8.800343,82.868454,87.060913,101.186763,21.837776,38.063220,1303.472371,43.261013,10.729963,10.458386,13.640730,0.724760,1.025183,0.142370,0.161275
min,2013.00000,1.000000,1.000000,21.000000,3.000000,2.000000,0.285600,1.231800,100.000000,0.214200,-18.900000,985.300000,-31.800000,0.000000,0.000000,116.185850,39.875450
25%,2014.00000,4.000000,8.000000,91.000000,27.000000,42.000000,2.000000,28.000000,600.000000,5.000000,1.250000,1002.600000,-8.100000,0.000000,0.700000,116.275380,39.932760
50%,2015.00000,7.000000,16.000000,155.000000,62.000000,92.000000,7.000000,51.000000,1000.000000,33.000000,12.200000,1010.900000,3.900000,0.000000,1.100000,116.379980,39.958945
75%,2016.00000,10.000000,23.000000,189.000000,120.000000,157.000000,18.000000,82.000000,1700.000000,68.000000,21.000000,1019.400000,15.800000,0.000000,1.700000,116.435073,40.160870
max,2017.00000,12.000000,31.000000,500.000000,809.000000,986.000000,500.000000,253.000000,10000.000000,1071.000000,32.800000,1041.500000,28.400000,23.300000,9.300000,116.649170,40.349490

In [43]:
# Store both datasets in excel format
data.to_excel("Beijing_data_processed_Def.xlsx", index=False)
data2.to_excel("Beijing_data_processed_Def1.xlsx", index=False)

In [77]:
def level(aqi):
    if 0 <= aqi and aqi <= 50:
        return "Good"
    if 51 <= aqi and aqi <= 100:
        return "Moderate"
    if 101 <= aqi and aqi <= 150:
        return "Unhealthy for Sensitive Groups"
    if 151 <= aqi and aqi <= 200:
        return "Unhealthy"
    if 201 <= aqi and aqi <= 300:
        return "Very Unhealthy"
    if 301 <= aqi and aqi <= 500:
        return "Hazardous"

label = [level(aqi) for aqi in data2["aqi_index_at_12h"]]

In [79]:
data2.insert(4,"qualitative_quality", label, True)

In [81]:
data2.head()

,year,month,day,aqi_index_at_12h,qualitative_quality,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station,longitude,latitude
0,2013,3,1,39,Good,4.0,4.0,4.0,7.0,300.0,77.0,-0.7,1023.0,-18.8,0.0,NNW,4.4,Aotizhongxin,116.38452,40.0013
24,2013,3,2,91,Moderate,22.0,24.0,24.0,44.0,500.0,44.0,-0.4,1031.0,-17.6,0.0,ENE,1.4,Aotizhongxin,116.38452,40.0013
48,2013,3,3,166,Unhealthy,112.0,130.0,73.0,100.0,1899.0,2.0,-1.4,1020.4,-13.0,0.0,NNE,1.2,Aotizhongxin,116.38452,40.0013
72,2013,3,4,76,Moderate,42.0,83.0,51.0,86.0,1300.0,4.0,7.7,1015.7,-11.1,0.0,N,2.6,Aotizhongxin,116.38452,40.0013
96,2013,3,5,224,Very Unhealthy,71.0,108.0,66.0,78.0,1100.0,84.0,4.7,1015.2,-9.1,0.0,SW,1.6,Aotizhongxin,116.38452,40.0013

In [85]:
data2.to_excel("Beijing_data_processed_Def3.xlsx", index=False)

In [83]:
data2.isna().sum()

year                   0
month                  0
day                    0
aqi_index_at_12h       0
qualitative_quality    0
PM2.5                  0
PM10                   0
SO2                    0
NO2                    0
CO                     0
O3                     0
TEMP                   0
PRES                   0
DEWP                   0
RAIN                   0
wd                     0
WSPM                   0
station                0
longitude              0
latitude               0
dtype: int64